**Directions**
1. This basically is a partially populated ipynb with blanks/empty code cells left deliberately to be filled out by you. Not just filling some stuff out is enough. Make sure it produces intended output.

2. You will come across code cells with a certain number of such blanks or commented cells without any code and each of which will carry two marks. Thus total marks for this tutorial is 10.
 

3. Upon the completion, the pdf exported ipynb can be downloaded and should be given a name that complies with the format "ROLLNO_NAME". The named file should be uploaded to AUMS.

In [1]:
## Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
## Reading the dataset
IceCream = pd.read_csv("IceCreamData.csv")

In [ ]:
## Describing the dataset
IceCream.describe().

,count,mean,std,min,25%,50%,75%,max
Temperature,500.0,22.232225,8.096388,0.0,17.122258,22.392791,27.740674,45.0
Revenue,500.0,521.570777,175.404751,10.0,405.558681,529.368565,642.257922,1000.0

In [ ]:
## Viewing 5 sample instances from the dataset
IceCream.sample(5)

     Temperature     Revenue
181    26.874953  634.584751
288    22.189516  496.461363
68     21.488177  483.489769
110    25.419302  603.037118
271    28.491764  651.486741

**Question 1**: Draw scatter plots (using all three Pandas/Matplotlib/Seaborn) that show the relationship between the independent and dependent variable. Make sure to include axis labels wherever necessary.

In [ ]:
## The code should come here

**Question 2:** Create training and test sets from the dataset with train-test split ratio 80:20 and random_state's value be 42.

In [ ]:
## The code should come here

**Question 3:** Fit a Linear Regression model (using Sklearn package) to the training data, test the fitted model, and report the model performance via MSE, MAE, and RMSE.

In [ ]:
## Fill in the blanks

from sklearn.linear_model import ____________

# Model creation and fitting
regressor = LinearRegression(fit_intercept =True)
regressor.fit(______,_______)

# Printing the slope and intercept
print('Linear Model Coefficient (m): ', regressor.________)
print('Linear Model Coefficient (b): ', regressor.________)

# Making predictions
y_predict = regressor.predict(________)
print(y_predict)

# Reporting the model performance
from sklearn import metrics

print('MAE:', metrics._____________(y_test, y_predict))
print('MSE:', metrics._____________(y_test, y_predict))
print('RMSE:', np.sqrt(metrics._____________(y_test, y_predict)))

**Question 4:** Approximate the slope and intercept using Ordinary Least Square method.

In [ ]:
## Fill in the blanks
X = IceCream.iloc[:, 0]
Y = IceCream.iloc[:, 1]

X_mean = np.mean(X)
Y_mean = np.mean(Y)

num = 0
den = 0
for i in range(len(X)):
    num += (X[i] - X_mean)*______________
    den += ______________**2
m = num / den
c = __________ - m*___________

print (m, c)

**Question 5:** Approximate the slope and intercept using Gradient Descent Optimization method with the learning rate 0.0001 and 1000 as number of iterations.

In [ ]:
m = 0
c = 0

L = _______  
epochs = _________  

n = float(len(X)) # Number of elements in X

# Performing Gradient Descent 
for i in range(epochs): 
    Y_pred = m*X + c  # The current predicted value of Y
    D_m = ___________________________  # Derivative wrt m
    D_c = ___________________________  # Derivative wrt c
    m = _____________________________  # Update m
    c = _____________________________  # Update c
print (m, c)

***The link to the outlook form is here:***

https://forms.office.com/r/h4hmCpDC42