### 19CSE305: Machine Learning

Name: Laxman K R

Roll: CB.EN.U4CSE20234

**Binary Classification using Perceptron**

In [13]:
## Import required libraries

import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import sklearn

from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split

In [14]:
diabdata = pd.read_csv("titanic.csv")
print(diabdata.shape)
diabdata.describe().transpose()

(891, 12)

,count,mean,std,min,25%,50%,75%,max
PassengerId,891.0,446.000000,257.353842,1.00,223.5000,446.0000,668.5,891.0000
Pclass,891.0,2.308642,0.836071,1.00,2.0000,3.0000,3.0,3.0000
Age,714.0,29.699118,14.526497,0.42,20.1250,28.0000,38.0,80.0000
SibSp,891.0,0.523008,1.102743,0.00,0.0000,0.0000,1.0,8.0000
Parch,891.0,0.381594,0.806057,0.00,0.0000,0.0000,0.0,6.0000
Fare,891.0,32.204208,49.693429,0.00,7.9104,14.4542,31.0,512.3292
Survived,891.0,0.383838,0.486592,0.00,0.0000,0.0000,1.0,1.0000

In [15]:
from sklearn.preprocessing import LabelEncoder

In [16]:
for i in diabdata:
    diabdata[i]=LabelEncoder().fit_transform(diabdata[i])

In [17]:
## Create Arrays for features and response variables

target_column = ['Survived']
predictors = list(set(list(diabdata.columns))-set(target_column))
diabdata[predictors] = diabdata[predictors]/diabdata[predictors].max()
diabdata.describe().transpose()

             count      mean       std  min       25%       50%       75%  max
PassengerId  891.0  0.500000  0.289162  0.0  0.250000  0.500000  0.750000  1.0
Name         891.0  0.500000  0.289162  0.0  0.250000  0.500000  0.750000  1.0
Pclass       891.0  0.654321  0.418036  0.0  0.500000  1.000000  1.000000  1.0
Sex          891.0  0.647587  0.477990  0.0  0.000000  1.000000  1.000000  1.0
Age          891.0  0.552380  0.290219  0.0  0.318182  0.477273  0.784091  1.0
SibSp        891.0  0.084549  0.167666  0.0  0.000000  0.000000  0.166667  1.0
Parch        891.0  0.063599  0.134343  0.0  0.000000  0.000000  0.000000  1.0
Ticket       891.0  0.497836  0.295369  0.0  0.233088  0.495588  0.763971  1.0
Fare         891.0  0.426542  0.283735  0.0  0.163968  0.380567  0.635628  1.0
Cabin        891.0  0.889416  0.245063  0.0  1.000000  1.000000  1.000000  1.0
Embarked     891.0  0.512907  0.264744  0.0  0.333333  0.666667  0.666667  1.0
Survived     891.0  0.383838  0.486592  0.0  0.000000  0.000000  1.000000  1.0

In [18]:
## Creating Training and Test Datasets

X = diabdata[predictors].values
y = diabdata[target_column].values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=40)
print(X_train.shape); print(X_test.shape)

(623, 11)
(268, 11)

In [19]:
## Building NN Model

from sklearn.neural_network import MLPClassifier

## activation : {‘identity’, ‘logistic’, ‘tanh’, ‘relu’}, default=’relu’
## solver : {‘lbfgs’, ‘sgd’, ‘adam’}, default=’adam’

mlp = MLPClassifier(hidden_layer_sizes=(8,8,8), activation='relu', solver='adam', max_iter=500) # Variations w.r.to parameters can be tried.
mlp.fit(X_train,y_train)

predict_train = mlp.predict(X_train)
predict_test = mlp.predict(X_test)

c:\Users\Laxman\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\neural_network\_multilayer_perceptron.py:1118: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [20]:
# Model with Training Data
from sklearn.metrics import classification_report,confusion_matrix
print(confusion_matrix(y_train,predict_train))
print(classification_report(y_train,predict_train))

[[357  36]
 [ 72 158]]
              precision    recall  f1-score   support

           0       0.83      0.91      0.87       393
           1       0.81      0.69      0.75       230

    accuracy                           0.83       623
   macro avg       0.82      0.80      0.81       623
weighted avg       0.83      0.83      0.82       623

In [21]:
# Model's Performance with test data
print(confusion_matrix(y_test,predict_test))
print(classification_report(y_test,predict_test))

[[137  19]
 [ 29  83]]
              precision    recall  f1-score   support

           0       0.83      0.88      0.85       156
           1       0.81      0.74      0.78       112

    accuracy                           0.82       268
   macro avg       0.82      0.81      0.81       268
weighted avg       0.82      0.82      0.82       268