# 19CSE305: MACHINE LEARNING LAB **4**

Laxman K R

Roll Number: CB.EN.U4CSE20234

In [2]:
import pandas as pd
import numpy as np
import scipy as sci

In [4]:
df = pd.read_csv("nba.csv")

In [5]:
df.sample(10)

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
287,Alonzo Gee,New Orleans Pelicans,15.0,SF,29.0,6-6,225.0,Alabama,1320000.0
102,Pablo Prigioni,Los Angeles Clippers,9.0,PG,39.0,6-3,185.0,NaN,947726.0
23,Brook Lopez,Brooklyn Nets,11.0,C,28.0,7-0,275.0,Stanford,19689000.0
244,Patrick Beverley,Houston Rockets,2.0,PG,27.0,6-1,185.0,Arkansas,6486486.0
80,Stephen Curry,Golden State Warriors,30.0,PG,28.0,6-3,190.0,Davidson,11370786.0
39,Kyle O'Quinn,New York Knicks,9.0,PF,26.0,6-10,250.0,Norfolk State,3750000.0
413,Nick Collison,Oklahoma City Thunder,4.0,PF,35.0,6-10,255.0,Kansas,3750000.0
154,Mike Dunleavy,Chicago Bulls,34.0,SG,35.0,6-9,230.0,Duke,4500000.0
369,Bradley Beal,Washington Wizards,3.0,SG,22.0,6-5,207.0,Florida,5694674.0
329,Spencer Hawes,Charlotte Hornets,0.0,PF,28.0,7-1,245.0,Washington,6110034.0

In [7]:
df.describe(include=['object'])

                 Name                  Team Position Height   College
count             457                   457      457    457       373
unique            457                    30        5     18       118
top     Avery Bradley  New Orleans Pelicans       SG    6-9  Kentucky
freq                1                    19      102     59        22

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB

In [9]:
df.describe()

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [10]:
df.shape

(458, 9)

In [11]:
df1=df.copy()

In [12]:
df1.dropna(axis=0,inplace=True)

In [13]:
df1.shape

(364, 9)

In [14]:
df1.isna().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [15]:
df2=df.copy()
df2['Salary']=df2['Salary'].fillna(df2['Salary'].mean())
df2.dropna(axis=0, inplace=True, how='any')

In [16]:
df2.isna().sum()

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
College     0
Salary      0
dtype: int64

In [17]:
df2.shape

(373, 9)

In [18]:
df3=df.copy()
df3['Salary_missing']=df3['Salary'].isnull()
df3.dropna(axis=0,inplace=True,how='any',subset=['Name','Team','Position','Height','College'])

In [19]:
df3.isna().sum()

Name              0
Team              0
Number            0
Position          0
Age               0
Height            0
Weight            0
College           0
Salary            9
Salary_missing    0
dtype: int64

In [20]:
from sklearn.impute import SimpleImputer as si

In [21]:
myimp=si(missing_values=np.NaN,strategy='mean')
newdata=myimp.fit_transform(df3['Salary'].values.reshape(-1,1))
df3.Salary=newdata

In [22]:
df3.isna().sum()

Name              0
Team              0
Number            0
Position          0
Age               0
Height            0
Weight            0
College           0
Salary            0
Salary_missing    0
dtype: int64

In [23]:
df3['HeightinInches']=df3['Height'].apply(lambda x : 12*int(x[:1]) + int(x[2:]))
df3.drop('Height',inplace=True,axis=1)

In [24]:
df3.sample()

,Name,Team,Number,Position,Age,Weight,College,Salary,Salary_missing,HeightinInches
107,Tarik Black,Los Angeles Lakers,28.0,C,24.0,250.0,Kansas,845059.0,False,81

In [25]:
df4=df3.copy()
df4.duplicated().sum()

0

In [26]:
df4=pd.concat([df4]*2,ignore_index=True)

In [27]:
df4.duplicated().sum()

373

In [28]:
df4.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
741     True
742     True
743     True
744     True
745     True
Length: 746, dtype: bool

In [29]:
df4.drop_duplicates(keep='last',inplace=True)

In [30]:
df4.duplicated().sum()

0

In [31]:
df4.sample(10)

,Name,Team,Number,Position,Age,Weight,College,Salary,Salary_missing,HeightinInches
620,LaMarcus Aldridge,San Antonio Spurs,12.0,PF,30.0,240.0,Texas,19689000.0,False,83
601,Lance Stephenson,Memphis Grizzlies,1.0,SF,25.0,230.0,Cincinnati,9000000.0,False,77
521,Tristan Thompson,Cleveland Cavaliers,13.0,C,25.0,238.0,Texas,14260870.0,False,81
402,Cleanthony Early,New York Knicks,11.0,SF,25.0,210.0,Wichita State,845059.0,False,80
463,Anthony Brown,Los Angeles Lakers,3.0,SF,23.0,210.0,Stanford,700000.0,False,79
717,Andre Roberson,Oklahoma City Thunder,21.0,SG,24.0,210.0,Colorado,1210800.0,False,79
659,Tyler Johnson,Miami Heat,8.0,SG,24.0,186.0,Fresno State,845059.0,False,76
644,Tyler Hansbrough,Charlotte Hornets,50.0,PF,30.0,250.0,North Carolina,947276.0,False,81
457,Paul Pierce,Los Angeles Clippers,34.0,SF,38.0,235.0,Kansas,3376000.0,False,79
422,Nik Stauskas,Philadelphia 76ers,11.0,SG,22.0,205.0,Michigan,2869440.0,False,78

In [32]:
from sklearn import preprocessing as pp

In [33]:
le=pp.LabelEncoder()

In [34]:
le.fit_transform(df4['Name'])

array([ 29, 139, 177, 288, 189, 202, 336, 238, 152, 130, 110, 149, 357,
       240, 363, 305, 155, 314, 318,  41,  60, 368, 338, 125,  95, 337,
        27, 232,  50,  63, 228, 167, 302, 221, 227,  89, 346, 105, 129,
       300, 175, 163, 299,  49, 205, 329, 265, 140, 131, 268, 126,  62,
        84,  82, 146,  68, 220, 280, 271, 335, 158,  85, 123,  17, 127,
       325, 111,  97,  14, 212, 148,  38, 242, 215,  66, 159, 141,  35,
       160,  31, 364,  81, 233,  61, 284, 134,  28,  46,  36, 332,  21,
       184, 307, 311, 229, 195,  70, 301, 249, 267, 107,  90,  55,  25,
       178,  37,   9, 181, 285, 306, 277, 330,   7, 286, 143,  51, 367,
        77,  83, 315,  99, 308, 216,  30, 109, 289,  47,   0, 169, 255,
       331, 197,  96, 102, 170,  32,  88, 345, 247,  53, 223, 298,  72,
       147, 313, 210, 188, 128, 351, 261, 174,  26, 326, 231, 296, 208,
       322,  13, 342,  78, 297, 324, 171, 237,  24, 230, 290, 282, 115,
       187, 321, 353, 117, 304, 263, 319, 173, 168, 252, 150, 354, 176,
       273, 213, 120, 327, 180, 138, 259, 122, 293, 196, 132, 164, 295,
        91,  79, 365, 137,  52, 100,  54,  86, 347, 251, 279,  67, 312,
        18, 145, 262, 334, 199, 157, 183, 344,  56, 245, 362, 254,  42,
       185, 136, 276, 154, 294, 370, 372, 226,  10,  34, 310, 235, 272,
        75,  22,  43, 343, 144, 358, 340,  12, 108, 186, 194, 274, 287,
       224, 218, 246, 339,  74, 201, 211,  15, 281, 182,  80, 207, 341,
       214,   4, 217, 219, 283, 257, 225, 258, 161, 352, 190, 355,   2,
       323, 112, 253, 165,  69, 166, 204, 243,  65,  57, 236, 360, 172,
       356, 192, 193, 101,  40, 124, 198,  93,   1,  92, 317,  19, 361,
       104, 156, 269,  45,   6,  33, 151, 153,  98, 133, 241, 203, 275,
       291, 113, 239, 179,  76,  71, 366, 369, 206, 114, 256, 142, 135,
       119, 359, 371, 316,   3, 333, 121, 200,  20, 328, 266, 209, 292,
       191, 106, 260, 264,  23,  48,  16, 222,  94, 309,  64,   5, 278,
        11, 103, 248, 116,  59, 250,  73,  44, 234, 244,  39, 270, 348,
       349,   8,  87, 118, 303,  58, 350, 320, 162])

In [35]:
df4['Name']=le.fit_transform(df4['Name'])
df4['College']=le.fit_transform(df4['College'])

In [36]:
df4.sample(10)

,Name,Team,Number,Position,Age,Weight,College,Salary,Salary_missing,HeightinInches
516,147,Cleveland Cavaliers,1.0,SG,35.0,218.0,56,947276.0,False,80
617,194,New Orleans Pelicans,11.0,PG,25.0,205.0,96,10595507.0,False,76
449,141,Los Angeles Clippers,11.0,SG,36.0,195.0,57,5675000.0,False,77
537,24,Detroit Pistons,43.0,PF,31.0,240.0,21,3000000.0,False,80
508,32,Chicago Bulls,5.0,PF,21.0,230.0,3,1391160.0,False,83
471,249,Los Angeles Lakers,37.0,SF,36.0,260.0,87,947276.0,False,79
433,158,Toronto Raptors,1.0,PF,29.0,250.0,81,245177.0,False,83
492,315,Sacramento Kings,30.0,SG,25.0,185.0,26,947276.0,False,74
527,296,Detroit Pistons,25.0,SF,25.0,205.0,66,1252440.0,False,79
576,347,Houston Rockets,1.0,SF,30.0,215.0,96,8193030.0,False,80

In [37]:
from sklearn.preprocessing import OrdinalEncoder
ord1 = OrdinalEncoder()

ord1.fit(df4[['Position']])

df4['Position'] = ord1.fit_transform(df4[['Position']])
df4.sample(10)

,Name,Team,Number,Position,Age,Weight,College,Salary,Salary_missing,HeightinInches
406,221,New York Knicks,9.0,1.0,26.0,250.0,65,3750000.0,False,82
400,232,New York Knicks,17.0,1.0,33.0,220.0,97,1635476.0,False,81
433,158,Toronto Raptors,1.0,1.0,29.0,250.0,81,245177.0,False,83
487,143,Sacramento Kings,5.0,4.0,27.0,213.0,72,1015421.0,False,78
442,212,Golden State Warriors,36.0,3.0,20.0,220.0,96,1131960.0,False,81
592,254,Memphis Grizzlies,11.0,2.0,28.0,175.0,70,9588426.0,False,73
643,190,Charlotte Hornets,12.0,2.0,27.0,189.0,12,189455.0,False,75
688,179,Washington Wizards,2.0,2.0,25.0,195.0,45,15851950.0,False,76
635,217,Atlanta Hawks,43.0,1.0,31.0,235.0,59,1000000.0,False,81
650,69,Charlotte Hornets,1.0,4.0,30.0,200.0,112,5675000.0,False,77

In [38]:
df4['Position']

373    2.0
374    3.0
375    4.0
376    4.0
377    1.0
      ...
741    4.0
742    3.0
743    1.0
744    2.0
745    0.0
Name: Position, Length: 373, dtype: float64

In [39]:
df4.drop(['Salary_missing'], axis=1, inplace=True)

In [40]:
df5=df4.pop('Salary')
df4['Salary']=df5
df4.head(5)

,Name,Team,Number,Position,Age,Weight,College,HeightinInches,Salary
373,29,Boston Celtics,0.0,2.0,25.0,180.0,93,74,7.730337e+06
374,139,Boston Celtics,99.0,3.0,25.0,235.0,52,78,6.796117e+06
375,177,Boston Celtics,30.0,4.0,27.0,205.0,8,77,4.620311e+06
376,288,Boston Celtics,28.0,4.0,22.0,185.0,33,77,1.148640e+06
377,189,Boston Celtics,55.0,1.0,21.0,235.0,46,80,1.170960e+06

In [41]:
df4.values

array([[29, 'Boston Celtics', 0.0, ..., 93, 74, 7730337.0],
       [139, 'Boston Celtics', 99.0, ..., 52, 78, 6796117.0],
       [177, 'Boston Celtics', 30.0, ..., 8, 77, 4620311.071428572],
       ...,
       [350, 'Utah Jazz', 41.0, ..., 45, 82, 2239800.0],
       [320, 'Utah Jazz', 8.0, ..., 11, 75, 2433333.0],
       [162, 'Utah Jazz', 24.0, ..., 43, 84, 947276.0]], dtype=object)

In [42]:
from sklearn.preprocessing import MinMaxScaler
arr=df4.values
x=arr[:,0:37]
y=arr[:,0:37]

In [49]:
print(x)

[[29 'Boston Celtics' 0.0 ... 93 74 7730337.0]
 [139 'Boston Celtics' 99.0 ... 52 78 6796117.0]
 [177 'Boston Celtics' 30.0 ... 8 77 4620311.071428572]
 ...
 [350 'Utah Jazz' 41.0 ... 45 82 2239800.0]
 [320 'Utah Jazz' 8.0 ... 11 75 2433333.0]
 [162 'Utah Jazz' 24.0 ... 43 84 947276.0]]

In [54]:
scaler=MinMaxScaler(feature_range=(0,1))
rescaledX=scaler.fit_transform(x)
np.set_printoptions(precision=3)
rescaledX

ValueError: could not convert string to float: 'Boston Celtics'

In [47]:
df4.drop('Team',axis=1,inplace=True)

KeyError: "['Team'] not found in axis"

In [46]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler().fit(x)
rescaledX=scaler.transform(x)
rescaledX[0:5,:]

ValueError: could not convert string to float: 'Boston Celtics'

In [55]:
from sklearn.preprocessing import Normalizer
scaler=Normalizer().fit(x)
normalizedX=scaler.transform(x)
normalizedX[0:5,:]

ValueError: could not convert string to float: 'Boston Celtics'

In [56]:
from sklearn.preprocessing import Binarizer
binarizer=Binarizer(threshold=0.0).fit(x)
binaryX=binarizer.transform(x)
binaryX[0:5,:]

ValueError: could not convert string to float: 'Boston Celtics'

In [57]:

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.30)
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(261, 9) (112, 9) (261, 9) (112, 9)